<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="./../shared-styles.html">
<dom-module id="contact-card">
    <template>
        <style include="shared-styles">
            :host{
                display: block;
            }
            .cardwrapper{
                display: flex;
                background: var(--paper-orange-300);
                border-radius: 5px;
            }
            .circle.img{ margin:15px; }
        </style>
        <div class="cardwrapper">
            <div class="circle img">
                
            </div>
            <div class="details">
                <p><strong>Name</strong> : [[accountName]]</p>
            </div>
        </div>
    </template>
    <script>
        class ContactCard extends Polymer.Element {
            static get is() { return 'contact-card'; }
            static get properties() {
                return {
                    accountName:{type:String, value:'Test User 1'}
                };
            }
        }
        window.customElements.define(ContactCard.is, ContactCard);
    </script>
</dom-module>