<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/neon-animation/web-animations.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="payment-form">
    <template>
        <style>
            paper-input {
                max-width: 400px;
                margin: auto;
            }

            paper-dropdown-menu,
            paper-listbox {
                width: 400px;
            }

            paper-dropdown-menu {
                margin: auto;
                display: block;
            }
        </style>
        <iron-form id="makepamentform">
            <form action="">
                <paper-dropdown-menu label="User" required auto-validate name="user" id="user" on-iron-select="_itemSelected">
                    <paper-listbox slot="dropdown-content">
                        <paper-item value="1">User1</paper-item>
                        <paper-item value="2">User2</paper-item>
                        <paper-item value="3">User3</paper-item>
                        <paper-item value="4">User4</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-input type="number" required auto-validate error-message="Enter Amount" label="Amount" name="amount" id="amount" value="{{transaction.amount}}"></paper-input>
                <paper-input label="Description" name="description" id="description" value="{{transaction.description}}"></paper-input>
                <center>
                    <paper-button raised on-click="submit">Make Payment</paper-button>
                </center>
            </form>
        </iron-form>

        <iron-ajax id="postTransaction" method="POST" body='{{transaction}}' handle-as="json" content-type="application/json" on-response="serverSuccessCb"
            last-response="{{serverSuccessObj}}" on-error="serverErrorCb" last-error="{{serverErrorObj}}" url="https://jsonplaceholder.typicode.com/posts">
        </iron-ajax>
    </template>
    <script>
        class PaymentForm extends Polymer.Element {
            static get is() { return 'payment-form'; }
            static get properties() {
                return {
                    transaction: {
                        type: Object,
                        value: {}
                    }
                };
            }
            submit() {
                if (this.$.makepamentform.validate()) {
                    console.log(this.transaction);
                    //this.$.postTransaction.generateRequest();
                }
            }
            _itemSelected(e) {
                var selectedItem = e.target.selectedItem;
                if (selectedItem) {
                    this.transaction.userId = selectedItem.getAttribute('value');
                }
            }
        }
        window.customElements.define(PaymentForm.is, PaymentForm);
    </script>
</dom-module>