<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="./../shared-styles.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<dom-module id="transaction-grid">
    <template>
        <iron-ajax auto url="http://10.117.189.31:8080/transaction/history" handle-as="json" last-response="{{payments}}"></iron-ajax>

        <vaadin-grid items="[[payments]]">

            <vaadin-grid-column width="9em" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="firstName">S.No</vaadin-grid-sorter>
                </template>
                <template>[[index]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column flex-grow="2" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="timePlaced">Date</vaadin-grid-sorter>
                </template>
                <template>[[item.timePlaced]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column flex-grow="2" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="amount">Amount</vaadin-grid-sorter>
                </template>
                <template>[[item.amount]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column flex-grow="2" resizable>
                <template class="header">
                    <vaadin-grid-sorter path="type">Type</vaadin-grid-sorter>
                </template>
                <template>[[item.type]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column flex-grow="2" resizable width="150px">
                <template class="header">
                    <vaadin-grid-sorter path="description">Description</vaadin-grid-sorter>
                </template>
                <template>[[item.description]]</template>
            </vaadin-grid-column>

        </vaadin-grid>
    </template>
    <script>
        class TransactionGrid extends Polymer.Element {
            static get is() { return 'transaction-grid'; }
        }
        window.customElements.define(TransactionGrid.is, TransactionGrid);
    </script>
</dom-module>