<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="/bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/web-animations-js/web-animations.min.html" 
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="./my-past-payments.html">
<link rel="lazy-import" href="./my-make-payment.html">
<link rel="lazy-import" href="./my-404.html">

<dom-module id="my-app">
  <template>
    <style>
       :host {
        --app-primary-color: var(--paper-orange-600);
        --app-secondary-color: white;
        --app-nav-text-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .app-title {
        width: 200px;
      }

      .app-title+nav a {
        display: inline;
        font-size: 12px;
        color: var(--app-nav-text-color) !important;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .app-title+nav a {
        padding: 25px 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .app-title+nav a.iron-selected {
        background: var(--app-secondary-color);
        color: black;
        font-weight: bold;
      }

      .userList {
        float: right;
        background: #fff;
        padding: 0 15px;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div class="app-title">Payment App</div>
            <nav>
              <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <a name="past-payments" href="[[rootPath]]past-payments">Past Payments</a>
                <a name="make-payment" href="[[rootPath]]make-payment">Make Payment</a>
              </iron-selector>
            </nav>
            <div class="userList">
              <paper-dropdown-menu label="Select users...">
                <paper-listbox slot="dropdown-content">
                  <paper-item>User 1</paper-item>
                  <paper-item>User 2</paper-item>
                  <paper-item>User 3</paper-item>
                  <paper-item>User 4</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <my-past-payments name="past-payments"></my-past-payments>
          <my-make-payment name="make-payment"></my-make-payment>
          <my-payment-history name="payment-history"></my-payment-history>
          <my-404 name="404"></my-404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'past-payments';

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = '404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>