<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="./shared-styles.html">
<link rel="import" href="./components/payment-form.html">

<dom-module id="my-make-payment">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <payment-form></payment-form>
    </div>
  </template>

  <script>
    class MakePayment extends Polymer.Element {
      static get is() { return 'my-make-payment'; }
    }

    window.customElements.define(MakePayment.is, MakePayment);
  </script>
</dom-module>
