<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./shared-styles.html">
<link rel="import" href="./components/contact-card.html">
<link rel="import" href="./components/transaction-grid.html">

<dom-module id="my-past-payments">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div class="card">
      <contact-card></contact-card>
    </div>
    <div class="card">
      <!-- place for grid -->
      <transaction-grid></transaction-grid>
    </div>
  </template>

  <script>
    class PastPayments extends Polymer.Element {
      static get is() { return 'my-past-payments'; }
    }

    window.customElements.define(PastPayments.is, PastPayments);
  </script>
</dom-module>
